.light-text {
  color: #ffffff;
}
.center-block {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}
.title-content {
  display: inline-block;
}
.text-content {
  display: contents;
}
.owl-nav {
  display: none;
}
